* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    /* vh is viewport height and vw is viewport width */
    height: 100vh; 
    width: 100vw;
    background-color: #E6DAD9;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: #235490;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3 {
    height: 100vh;
    width: 100vw;
    background-color: #393745;
}

#page2 img {
    height: 90vh;
    object-fit: cover;
    object-position: center; /* this is to center the image */
}
